[package]
name = "darkbio-crypto"
version = "0.1.1"
authors = ["Péter Szilágyi <peter@dark.bio>"]
description = "Cryptography primitives and wrappers"
repository = "https://github.com/dark-bio/crypto-rs"
documentation = "https://docs.rs/darkbio-crypto"
license = "BSD-3-Clause"
edition = "2024"

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[features]
cert = []
ffi = []

[dependencies]
age-core = "0.11.0"
bcder = "0.7.5"
bytes = "1.10.0"
chacha20poly1305 = "0.10.1"
chrono = "0.4.40"
ed25519-dalek = { version = "2.2.0", features = ["pem", "rand_core"] }
getrandom = "0.3.3"
hpke = { version = "0.13.0", features = ["std"] }
pin-project = "1.1.9"
rand = "0.9.0"
rand_chacha = "0.9.0"
rsa = { version = "0.9.8", features = ["sha2"] }
x509-certificate = "0.24.0"
x509-parser = "0.17.0"
zeroize = "1.8.1"
hex = "0.4.3"

[dev-dependencies]
